

#hero{
  background: 
      -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/italian-7.jpg");
  background: 
      -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/italian-7.jpg");
  background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/italian-7.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  min-height: 445px;
  .header-side {
    width: 37vw;
  }
  .header {
    width: 350px;
    margin-top: 25vh;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 20px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    text-align: center;
    color: #fff;
    .header-top {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &:before {
          border-radius: 3px 0 0 0;
          display: block;
          content: "";
          flex: 2 0 0;
          height: 1px;
          border-top: 2px solid #fff;
        }
        &:after {
          border-radius: 0 3px 0 0;
          display: block;
          content: "";
          flex: 2 0 0;
          height: 1px;
          border-top: 2px solid #fff;
        }
        .top-content {
          flex: 0 0 70px;
          margin-top: -27px;
          text-align: center;
          img {
            width: 90px;
            margin-left: 24px;
            margin-right: 22px;
          }
        }
      }
    .header-bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        &:before {
          border-radius: 3px 0 0 0;
          display: block;
          content: "";
          flex: 2 0 0;
          height: 1px;
          border-bottom: 2px solid #fff;
        }
        &:after {
          border-radius: 0 3px 0 0;
          display: block;
          content: "";
          flex: 2 0 0;
          height: 1px;
          border-bottom: 2px solid #fff;
        }
        .bottom-content {
          flex: 0 0 70px;
          margin-top: -42px;
          text-align: center;
          img {
            width: 100px;
            margin-left: 11px;
            margin-right: 9px;
            margin-bottom: -65px;
          }
        }
    }
    h1 {
      // font-family: 'Raleway';
      font-family: 'Amatic SC';
      font-size: 7em;
      letter-spacing: 20px;
      line-height: 1;
    }
  }
  .address-row {
    margin-top: 10vh;
    .address {
      // font-family: 'Bitter';
      font-family: 'Quattrocento';
      font-size: 1.3em;
      letter-spacing: 1px;
      text-align: center;
      color: #fff
    }
  }
}


// *************
// MEDIA QUERIES
// *************

@media only screen and (max-width: 1000px) {
  #hero {
    background-attachment: scroll;
    height: 160vh;
    .header-side {
      width: 30%;
    }
    .header {
      margin-top: 30vh;
    }
    .address-row {
      margin-top: 10vh;
      .address {
        font-size: 1em;
      }    
    }
  }
}

// *************************************
// MEDIA QUERIES TO KEEP HEADER CENTERED 
// - from largest screen to smallest
// *************************************

@media only screen and (max-width: 2050px) {
  #hero {
    .header-side {
      width: 40.6vw;
    }
  }
}

@media only screen and (max-width: 1950px) {
  #hero {
    .header-side {
      width: 40.3vw;
    }
  }
}

@media only screen and (max-width: 1900px) {
  #hero {
    .header-side {
      width: 40vw;
    }
  }
}

@media only screen and (max-width: 1860px) {
  #hero {
    .header-side {
      width: 39.6vw;
    }
  }
}

@media only screen and (max-width: 1760px) {
  #hero {
    .header-side {
      width: 38.6vw;
    }
  }
}

@media only screen and (max-width: 1710px) {
  #hero {
    .header-side {
      width: 39vw;
    }
  }
}

@media only screen and (max-width: 1650px) {
  #hero {
    .header-side {
      width: 38vw;
    }
  }
}

@media only screen and (max-width: 1500px) {
  #hero {
    .header-side {
      width: 37vw;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #hero {
    .header-side {
      width: 36vw;
    }
  }
}

@media only screen and (max-width: 1250px) {
  #hero {
    .header-side {
      width: 34vw;
    }
  }
}

@media only screen and (max-width: 1160px) {
  #hero {
    .header-side {
      width: 34vw;
    }
  }
}

@media only screen and (max-width: 1090px) {
  #hero {
    .header-side {
      width: 32vw;
    }
  }
}

@media only screen and (max-width: 980px) {
  #hero {
    .header-side {
      width: 30vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  #hero {
    .header-side {
      width: 29vw;
    }
  }
}

@media only screen and (max-width: 850px) {
  #hero {
    .header-side {
      width: 27vw;
    }
  }
}

@media only screen and (max-width: 760px) {
  #hero {
    .header-side {
      width: 24vw;
    }
  }
}

@media only screen and (max-width: 680px) {
  #hero {
    .header-side {
      width: 22vw;
    }
  }
}

@media only screen and (max-width: 650px) {
  #hero {
    .header-side {
      width: 22vw;
    }
  }
}

@media only screen and (max-width: 580px) {
  #hero {
    .header-side {
      width: 16vw;
    }
  }
}

@media only screen and (max-width: 525px) {
  #hero {
    .header-side {
      width: 14vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  #hero {
    .header-side {
      width: 11vw;
    }
  }
}

@media only screen and (max-width: 470px) {
  #hero {
    .header-side {
      width: 8vw;
    }
  }
}



@media only screen and (max-width: 425px) {
  #hero {
    .header {
      width: 275px;
      margin-left: 1.5em;
    }
    .address-row {
      margin-top: 7vh;
    }
  }
}

@media only screen and (max-width: 400px) {
  .header {
    margin-left: 1.1em;
  }
  .address-row {
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 390px) {
  #hero {
    .header {
      margin-left: 0.55em;
    }
  }
}

