.after-hero-content {
	background-image: url("../img/pasta-background-3.jpeg");
	background-size: cover;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	font-family: 'Quattrocento';
	height: 70vh;
	h2 {
		padding-top: 20vh;
		padding-bottom: 2.5vh;
		padding-left: 2vw;
	}
	p {
		font-size: 1.1em;
		padding-left: 4vw;
	}
}


// ****************
// FOUR SQUARE GRID
// ****************

.four-square-grid {
	height: 200vh;
	background-color: #d3dadb;
	padding-left: 6vw;
	padding-right: 4vw;
	.image-block-1, .caption-block-1 {
		margin-top: 19.5vh;
	}
	.image-block, .caption-block {
		height: 80vh;
		width: 45vw;
	}
	.image-block-1 {
		background-image: url('../img/italian-6.jpeg');
	}
	.image-block-2 {
		background-image: url('../img/italian-8.jpeg');
	}
	.caption-block-1 {
		img {
			height: 4px;
			width: 284px;
		}
	}
	.caption-block-2 {
		img {
			height: 4px;
			width: 243px;
		}
	}
	.caption-block {
		padding-top: 22vh;
		padding-left: 3vw;
		padding-right: 3vw;
		background-color: #363739;
		h1, p {
			color: #fff;
			margin-bottom: 0;
		}
		h1 {
			font-family: 'Amatic SC';
			font-size: 4em;
		}
		p {
			font-family: 'Quattrocento';
			font-size: 1.2em;
			padding-left: 1.5vw;
			padding-right: 3vw;
			padding-top: 2vh;
		}
	}
}

// ***************
// MENU CATEGORIES
// ***************

.menu-categories {
	height: 180vh;
	padding: 0;
	.menu-image-1, .menu-image-2, .menu-image-3, .menu-image-4 {
		padding: 0;
	}
	.menu-image-1 {
		background-image: url('../img/italian-11.jpg');
		height: 90vh;
		&:hover .menu-nav {
			max-height: 80px;
			-webkit-transition: max-height 0.4s; 
  			-moz-transition: max-height 0.4s; 
  			-ms-transition: max-height 0.4s; 
  			-o-transition: max-height 0.4s; 
  			transition: max-height 0.4s;  
		}
	}
	.menu-image-2 {
		background-image: url('../img/italian-2.jpg');
		height: 90vh;
		&:hover .menu-nav {
			max-height: 80px;
			-webkit-transition: max-height 0.4s; 
  			-moz-transition: max-height 0.4s; 
  			-ms-transition: max-height 0.4s; 
  			-o-transition: max-height 0.4s; 
  			transition: max-height 0.4s;  
		}
	}
	.menu-image-3 {
		background-image: url('../img/italian-5.jpeg');
		height: 90vh;
		background-size: cover;
		background-repeat: no-repeat;
		&:hover .menu-nav {
			max-height: 80px;
			-webkit-transition: max-height 0.4s; 
  			-moz-transition: max-height 0.4s; 
  			-ms-transition: max-height 0.4s; 
  			-o-transition: max-height 0.4s; 
  			transition: max-height 0.4s;  
		}
	}
	.menu-image-4 {
		background-image: url('../img/dessert-1.jpeg');
		height: 90vh;
		background-size: cover;
		background-repeat: no-repeat;
		&:hover .menu-nav {
			max-height: 80px;
			-webkit-transition: max-height 0.4s; 
  			-moz-transition: max-height 0.4s; 
  			-ms-transition: max-height 0.4s; 
  			-o-transition: max-height 0.4s; 
  			transition: max-height 0.4s;  
		}
	}
	.menu-nav {
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		-webkit-transition: max-height 0.4s; 
  		-moz-transition: max-height 0.4s; 
  		-ms-transition: max-height 0.4s; 
  		-o-transition: max-height 0.4s; 
  		transition: max-height 0.4s;  
  		max-height: 100%;
		a {
			float: right;
			padding-right: 3vw;
			padding-top: 2vh;
			font-family: 'Quattrocento';
			font-size: 2.2em;
			color: #fff;
		}
		a:link, a:hover, a:visited, a:active, a:after, a:focus {
			text-decoration: none;
		}
	}
}


// ********
// SPECIALS
// ********

.specials {
	height: 85vh;
	background-color: #d3dadb;
	h1 {
		float: right;
		padding-top: 5vh;
		font-family: 'Quattrocento';
		padding-right: 5vw;
	}
	h2 {
		font-family: 'Quattrocento';
		color: #fff;
		font-size: 1.8em;
		padding-left: 1.5vw;
		padding-top: 50%;
	}
	.special-1, .special-2 {
		width: 35vw;
		height: 50vh;
		float: right;
		margin-right: 3.5vw;
		margin-top: 3vh;
		border-radius: 2px;
	}
	.special-1 {
		background: 
			-webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../img/risotto.jpg');
		background: 
      		-o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../img/risotto.jpg');
		background: 
      		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('../img/risotto.jpg');
		background-size: cover;
		img {
			margin-top: -60px;
			padding-left: 1.7vw;
			height: 3px;
			width: 185px;
		}
	}
	.special-2 {
		background:
			-webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	    url('../img/amatriciana.jpeg');
		background:
			-o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	    url('../img/amatriciana.jpeg');
		background:
			linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	    url('../img/amatriciana.jpeg');
		background-size: cover;
		img {
			margin-top: -60px;
			padding-left: 1.7vw;
			height: 3px;
			width: 295px;
		}
	}
}


// *******
// JOIN US
// *******

.join-us {
	height: 80vh;
	background: 
      -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	  url('../img/join-us-2.jpg');
	background: 
      -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	  url('../img/join-us-2.jpg');
	background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	  url('../img/join-us-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	h1, p {
		text-align: center;
		color: #fff;
	}
	h1 {
		font-family: 'Amatic SC';
		font-size: 6em;
		padding-top: 9vh;
	}
	p {
		font-family: 'Quattrocento';
		padding-left: 20vw;
		padding-right: 20vw;
		padding-top: 4vh;
		font-size: 1.1em;
		line-height: 1.9;
		text-indent: 25px;
	}
}


// ******
// FOOTER 
// ******

.footer {
	background-color: #d3dadb;
	height: 50vh;
	min-height: 300px;
	text-align: center;
	p {
		font-family: 'Quattrocento';
		margin-top: 30vh;
	}
	ul {
		list-style-type: none;
		display: inline-flex;
		li {
			padding: 8px;
			a {
				color: #333;
				font-size: 2em;
			}
		}
	}
}





